{% extends "college_info/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom " >Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit" name="button">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}