body{
    margin-top:5rem;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.content-section{
    border:1px solid #dddddd;
    padding:10px 20px;
    border-radius:3px;
}
.newtask{
    background:black;
    height:50px;
}